<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Ignore broken global proxy vars (127.0.0.1:9) for this repository -->
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>

